.venv/
venv/
.vscode/
/scripts/augment_pipeline/input_images/
/scripts/augment_pipeline/output/
__pycache__/
.ignore/
*.tif
data_split_dirs/
/HTC-DC-Net/
*.png
*/img2height-venv/
/D_data/
*.log
img2heightvenv/
datavenv/